@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Raleway");
@import url(//fonts.googleapis.com/css?family=Lato:300:400);
*,
*::before,
*::after {
  box-sizing: border-box;
}



body {
  padding: 1rem 0.5rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-family: 'Raleway',Sans-serif;
}

.container {
  display: flex;
  -webkit-display: box;
  -moz-display: box;
  -ms-display: flexbox;
  -webkit-display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  padding: 6%;
  margin: 0;
}

.popup {
  display: flex;
  align-content: center;
  justify-content: center;
  background-color: #fff;
  border-radius: 6px;
  padding: 3rem 2rem;
  box-shadow: 0 10px 40px -14px rgba(0, 0, 0, 0.25);
  text-align: center;
}
.popup .popup-content  {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
.popup .popup-title {
  color: #32325d;
  font-size: 1.8em;
  line-height: 1.5em;
  font-weight: 900;
  margin-top: 0;
}
.popup .popup-body {
  font-size: 1.1em;
  line-height: 1.6em;
  color: #6b7c93;
  font-weight: 500;
  margin-bottom: 2.1em;
}
.popup .popup-button {
  display: block;
  text-align: center;
  text-decoration: none;
  font-weight: 800;
  font-size: 1em;
  text-transform: uppercase;
  color: rgb(25, 5, 5);
  border-radius: 6px;
  margin: 10px;
  padding: 1em 3em;
  background-size: 300% 300%;
  color: rgb(19, 17, 17);
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);

  background-image: linear-gradient(to right, #8bf25c 0%, #abfbff 50%, #012d11 100%);
  transition: 0.5s;
}

.popup .popup-button:hover {
  background-position: right center;
}

#btn-2 {
    background-image: repeating-linear-gradient(-45deg, 
      #7BDFF2 10px 30px,
      #B2F7EF 30px 50px,
      #EFF7F6 50px 70px,
      #F7D6E0 70px 90px,
      #F2B5D4 90px 110px
  );
  color: black;
}

#btn-2:hover {
  background-position: 20% center;
}

.bn39 {
  background-image: linear-gradient(135deg, #008aff, #86d472);
  border-radius: 6px;
  box-sizing: border-box;
  color: #ffffff;
  display: block;
  height: 50px;
  font-size: 1.4em;
  font-weight: 600;
  padding: 4px;
  position: relative;
  text-decoration: none;
  width: 7em;
  z-index: 2;
}

.bn39:hover {
  color: #fff;
}

.bn39 .bn39span {
  align-items: center;
  background: #0e0e10;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  height: 100%;
  transition: background 0.5s ease;
  width: 100%;
}

.bn39:hover .bn39span {
  background: transparent;
}


body {
  margin:0;
}

h1 {
  font-family: 'Lato', sans-serif;
  font-weight:300;
  letter-spacing: 2px;
  font-size:48px;
}
p {
  font-family: 'Lato', sans-serif;
  letter-spacing: 1px;
  font-size:14px;
  color: #333333;
}
.bn30 {
  border: 5em;
  cursor: pointer;
  outline: none;
  font-size: 16px;
  -webkit-transform: translate(0);
  transform: translate(0);
  background-image: linear-gradient(45deg, #4568dc, #b06ab3);
  padding: 0.7em 2em;
  border-radius: 65px;
  box-shadow: 1px 1px 10px rgba(255, 255, 255, 0.438);
  -webkit-transition: box-shadow 0.25s;
  transition: box-shadow 0.25s;
  color: white;
}

.bn30 .text {
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(45deg, #4568dc, #b06ab3);
}

.bn30:after {
  content: "";
  border-radius: 18px;
  position: absolute;
  margin: 4px;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  background: #0e0e10;
}

.bn30:hover {
  background-image: linear-gradient(-45deg, #4568dc, #b06ab3);
  box-shadow: 0 12px 24px rgba(128, 128, 128, 0.1);
}

.bn30:hover .text {
  background-image: linear-gradient(-45deg, #4568dc, #b06ab3);
}
.bn40 {
  border-radius: 4px;
  font-weight: 600;
  font-size: large;
  /*padding: 4px 6px;/
  padding: 1px 1px 2px 0 px;*/
  color: #fff !important;
}

.bn40::after {
  max-width: 100%;
  height: 2px;
  display: block;
  content: "";
  background: linear-gradient(-90deg, #ff9100 0%, #f10366 50%, #6173ff 100%);
  opacity: 1;
  margin-left: 2px;
  /*margin-bottom: -6px;
  margin-top: 1px;*/
}

.bn40div {
  display: flex;
}
.bn32 {
  border-color: #080707;
  padding: 1px 2px;
 
  font-size: 1em;
  color: #030101;
  background-image: linear-gradient(45deg, transparent 50%, #000000 50%);
  background-position: 25%;
  background-size: 400%;
  -webkit-transition: background 500ms ease-in-out, color 500ms ease-in-out;
  transition: background 500ms ease-in-out, color 500ms ease-in-out;
  
  display: block;
  cursor: pointer;
  border-color: #080707;
  text-align: center;
  text-decoration: none;
  font-size: 1em;
  text-transform: uppercase;
  color: #f1f0f0;
  border-radius: 2px;
  margin: 5px;
  padding: 1px 2px;
  background-image: linear-gradient(45deg, transparent 50%, #000000 50%);
  background-position :25%;  
  color :  #030101;;
  -webkit-transition: background 500ms ease-in-out, color 500ms ease-in-out;
  transition: background 500ms ease-in-out, color 500ms ease-in-out;
}

.bn32:hover {
  color: #e7dede;
  background-position: 100%;
}

.bn48 {
  background: linear-gradient(90deg, #1e39a5, #c50e07);
  background-size: auto;
  background-clip: border-box;
  -webkit-background-clip: text;
  background-clip: text;
  background-size: 300% 300%;
  -webkit-text-fill-color: transparent;
}
.header {
  position:relative;
  text-align:center;
  background: linear-gradient(60deg, rgba(84,58,183,1) 0%, rgba(0,172,193,1) 100%);
  color:white;
}
.logo {
  width:50px;
  fill:white;
  padding-right:15px;
  display:inline-block;
  vertical-align: middle;
}

.inner-header {
  height:65vh;
  width:100%;
  margin: 0;
  padding: 0;
}

.flex { /*Flexbox for containers*/
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.waves {
  position:relative;
  width: 100%;
  height:15vh;
  margin-bottom:-7px; /*Fix for safari gap*/
  min-height:100px;
  max-height:150px;
}

.content {
  position:relative;
  height:20vh;
  text-align:center;
  background-color: white;
}

/* Animation */

.parallax > use {
  animation: move-forever 25s cubic-bezier(.55,.5,.45,.5)     infinite;
}
.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}
.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}
.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}
.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}
@keyframes move-forever {
  0% {
   transform: translate3d(-90px,0,0);
  }
  100% { 
    transform: translate3d(85px,0,0);
  }
}
/*Shrinking for mobile*/
@media (max-width: 768px) {
  .waves {
    height:40px;
    min-height:40px;
  }
  .content {
    height:30vh;
  }
  h1 {
    font-size:24px;
  }
}